*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
html, body{
  height: 100%;
  width: 100%;
}
body{
  background-image: url(../images/background-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}
.none{
  display: none!important;
}
button{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  width: 6px;
  border-radius: 8px;
  background: rgba(15, 98, 231, 0.5);
}